
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f3f0f0;
    background-color: #a8a7a7c1;
}

/* Header styles */
header {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

header p {
    font-style: italic;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.h1-photo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#pro{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
#pro img{
   height: 100%;
   width: 100%; 
}
/* Section styles */
section {
    padding: 2rem 2rem;
    width: 85%;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.1);
}

section h2 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    display: inline-block;
    font-size: 2rem;
    color: #333;
}

/* About section */
#about p{
    text-align: justify;
}
/* Skills section */
 #skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#skills li {
    background: #e2e2e2;
    margin: 0.5rem 0;
    padding: 0.5rem;
    /* border-left: 4px solid #333; */
    font-size: 1.1rem;
    color: #333; 
} 
.skills-list li {
    width: 95%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-left: 4px solid #333;
}

.skills-list li:hover {
    transform: translateX(2%);
    background-color: #a39696;
    border-left: 4px solid #e90932;
    cursor: pointer;
}

.wraper{
    display: flex;
    gap: 1.5rem;
}
/* Projects section */
.project {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    /* position: relative; */
    overflow: hidden;
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project:hover img {
    transform: scale(1.03);
}

.project h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.project p {
    font-size: 1rem;
    color: #545454;
}
#resume p{
    color: #545454;
}
.btn{
    margin-top: 1.5rem;
    border: 1px solid black;
    width: 15rem;
    height: 2.5rem;
}
.btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100%;
    width: 100%;
}
.btn a:hover{
    background-color: #bdb9b9;
    transition: 0.2s ease;
}
#contact p{
    color: #545454;
}
#contact a{
    text-decoration: none;
    color: #666;
}
#contact a:hover{
    text-decoration: underline;
    color: black;
}
footer{
    margin-top: 2rem;
    background: #666;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}